In [3]:
import pandas as pd

In [2]:
dtest = pd.read_csv('C:\\EstudosML\\ML distribuído\\UNSW-N15\\Dataset\\UNSW_NB15_training-set.csv')

dtest = dtest.drop(columns=['id'])
dtest = dtest.drop(columns=['attack_cat'])

#A coluna service possui valores '-', vamos trocar para None
dtest['service'] = dtest['service'].apply(lambda x:"None" if x=="-" else x)

#como temos as features proto, service e state como categóricas, temos que transformálas em binários
#one hot enconder
dtest_final = pd.get_dummies(dtest, columns = ['proto', 'service', 'state'])

In [3]:
dtest_final.to_csv('dadosteste.csv', index = False)

In [4]:
dtestf = pd.read_csv('dadosteste3.csv')

In [5]:
dtestf.tail()

,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,dload,...,state_CON,state_ECO,state_FIN,state_INT,state_PAR,state_REQ,state_RST,state_URN,state_no,label
175336,0.033263,18,20,3936,2560,1112.346999,31,29,8.942068e+05,584914.12500,...,False,False,True,False,False,False,False,False,False,0
175337,1.004646,12,18,1580,10168,28.865891,31,29,1.153839e+04,76476.69531,...,False,False,True,False,False,False,False,False,False,0
175338,0.000003,2,0,114,0,333333.321500,254,0,1.520000e+08,0.00000,...,False,False,False,True,False,False,False,False,False,1
175339,0.000006,2,0,114,0,166666.660800,254,0,7.600000e+07,0.00000,...,False,False,False,True,False,False,False,False,False,1
175340,0.000009,2,0,168,0,111111.107200,254,0,7.466666e+07,0.00000,...,False,False,False,True,False,False,False,False,False,1