In [2]:
import pandas as pd
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

In [4]:
def count_changes(df):
  counts = {}
  prev = {}

  def _count_changes(row):
    key = row["name"] + "," + row["type"]
    if key not in counts:
      counts[key] = 0
      prev[key] = row["skill"]
    if prev[key] != row["skill"]:
      counts[key] += 1
      prev[key] = row["skill"]
    return counts[key]

  df["changes"] = df.apply(_count_changes, axis=1)

In [22]:
metrics = pd.read_csv(r"C:\Users\natha\Documents\AgentesML\jade_experiments\env\metrics\0.07\metrics_sample_c075_a200_api0.07.csv")
metrics["datetime"] = metrics["datetime"].str.slice(0, 22).str.slice_replace(11, 14, '')
metrics["datetime"] = pd.to_datetime(metrics['datetime'], format="%Y-%m-%dT%H:%M:%S") # 2024-04-21T17:17:44:10.202
metrics["name_skill"] = metrics.apply(lambda row: f'{row["name"]} ({row["skill"]})', axis=1)
count_changes(metrics)
metrics.describe()

,f1,accuracy,precision,recall,total,asks,timeouts,points,tp,fp,tn,fn,api_time,ask_time,voting_time,changes
count,1861.000000,2255.000000,1966.000000,1861.000000,2255.000000,2255.000000,2255.000000,2255.000000,2255.000000,2255.000000,2255.000000,2255.000000,2255.000000,2255.000000,2255.000000,2255.000000
mean,0.940397,0.916865,0.903954,0.947076,1584.584035,17.351220,13.526829,1418.167184,1182.434590,37.928603,318.941020,45.279823,0.006169,0.870082,1.122725,0.221286
std,0.131525,0.170516,0.255650,0.098874,1723.294764,78.164763,65.208845,1620.030545,1515.913515,161.172222,856.844892,97.159526,0.008066,2.241826,2.832029,0.523019
min,0.061000,0.000000,0.000000,0.286000,1.000000,0.000000,0.000000,-962.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.947000,0.908000,0.980000,0.923000,55.000000,0.000000,0.000000,54.000000,46.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.982000,0.994000,1.000000,0.999000,801.000000,0.000000,0.000000,630.000000,300.000000,0.000000,0.000000,1.000000,0.004000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,2900.000000,0.000000,0.000000,2596.000000,2333.000000,8.000000,46.000000,17.000000,0.008000,0.037000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,5900.000000,867.000000,866.000000,5900.000000,5900.000000,1901.000000,4187.000000,412.000000,0.037000,8.968000,8.800000,3.000000

In [13]:
metrics = pd.read_csv(r"C:\Users\natha\Documents\AgentesML\jade_experiments\env\metrics\0.07\metrics_sample_c080_a200_api0.07.csv")
metrics["datetime"] = metrics["datetime"].str.slice(0, 22).str.slice_replace(11, 14, '')
metrics["datetime"] = pd.to_datetime(metrics['datetime'], format="%Y-%m-%dT%H:%M:%S") # 2024-04-21T17:17:44:10.202
metrics["name_skill"] = metrics.apply(lambda row: f'{row["name"]} ({row["skill"]})', axis=1)
count_changes(metrics)
metrics.describe()

,f1,accuracy,precision,recall,total,asks,timeouts,points,tp,fp,tn,fn,api_time,ask_time,voting_time,changes
count,1809.000000,2193.000000,1916.000000,1809.000000,2193.000000,2193.000000,2193.000000,2193.000000,2193.000000,2193.000000,2193.000000,2193.000000,2193.000000,2193.000000,2193.000000,2193.000000
mean,0.942192,0.915859,0.903265,0.943457,1494.157319,19.877337,11.292294,1339.999544,1111.384405,36.882353,305.694026,40.196534,0.003978,0.914640,0.938628,0.429549
std,0.117698,0.161102,0.253840,0.097423,1640.263911,92.384155,48.698169,1540.559623,1436.131305,144.462880,825.122597,90.017593,0.005198,2.257596,2.368951,0.897931
min,0.119000,0.000000,0.000000,0.435000,1.000000,0.000000,0.000000,-500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.943000,0.897000,0.971000,0.923000,55.000000,0.000000,0.000000,54.000000,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.990000,0.994000,1.000000,0.996000,800.000000,0.000000,0.000000,606.000000,283.000000,0.000000,0.000000,1.000000,0.003000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,2700.000000,0.000000,0.000000,2495.000000,2100.000000,8.000000,49.000000,15.000000,0.006000,0.390000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,5500.000000,953.000000,472.000000,5480.000000,5400.000000,1507.000000,4187.000000,408.000000,0.043000,8.913000,8.680000,3.000000

In [15]:
metrics = pd.read_csv(r"C:\Users\natha\Documents\AgentesML\jade_experiments\env\metrics\0.07\metrics_sample_c085_a200_api0.07.csv")
metrics["datetime"] = metrics["datetime"].str.slice(0, 22).str.slice_replace(11, 14, '')
metrics["datetime"] = pd.to_datetime(metrics['datetime'], format="%Y-%m-%dT%H:%M:%S") # 2024-04-21T17:17:44:10.202
metrics["name_skill"] = metrics.apply(lambda row: f'{row["name"]} ({row["skill"]})', axis=1)
count_changes(metrics)
metrics.describe()

,f1,accuracy,precision,recall,total,asks,timeouts,points,tp,fp,tn,fn,api_time,ask_time,voting_time,changes
count,1787.000000,2173.000000,1892.000000,1787.000000,2173.000000,2173.000000,2173.000000,2173.000000,2173.000000,2173.000000,2173.000000,2173.000000,2173.000000,2173.000000,2173.00000,2173.000000
mean,0.950957,0.925066,0.906095,0.954886,1548.505292,33.209388,24.688449,1376.424298,1144.462954,44.263691,318.001841,41.776806,0.005258,0.769016,1.53082,0.442246
std,0.095214,0.145140,0.249132,0.072695,1625.080726,145.199158,108.564304,1522.018190,1417.848784,157.118956,834.735370,93.907959,0.006994,2.044359,2.88751,0.962942
min,0.301000,0.000000,0.000000,0.543000,7.000000,0.000000,0.000000,-500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,0.949500,0.908000,0.982750,0.931500,55.000000,0.000000,0.000000,54.000000,52.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
50%,0.988000,0.992000,1.000000,0.986000,900.000000,0.000000,0.000000,700.000000,407.000000,0.000000,0.000000,1.000000,0.003000,0.000000,0.00000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,2700.000000,0.000000,0.000000,2496.000000,2193.000000,8.000000,48.000000,18.000000,0.007000,0.271000,0.10700,0.000000
max,1.000000,1.000000,1.000000,1.000000,5500.000000,1353.000000,1039.000000,5482.000000,5400.000000,1507.000000,4189.000000,411.000000,0.044000,8.263000,8.45300,3.000000

In [16]:
metrics = pd.read_csv(r"C:\Users\natha\Documents\AgentesML\jade_experiments\env\metrics\0.07\metrics_sample_c090_a200_api0.07.csv")
metrics["datetime"] = metrics["datetime"].str.slice(0, 22).str.slice_replace(11, 14, '')
metrics["datetime"] = pd.to_datetime(metrics['datetime'], format="%Y-%m-%dT%H:%M:%S") # 2024-04-21T17:17:44:10.202
metrics["name_skill"] = metrics.apply(lambda row: f'{row["name"]} ({row["skill"]})', axis=1)
count_changes(metrics)
metrics.describe()

,f1,accuracy,precision,recall,total,asks,timeouts,points,tp,fp,tn,fn,api_time,ask_time,voting_time,changes
count,1801.000000,2184.000000,1906.000000,1801.000000,2184.000000,2184.000000,2184.000000,2184.000000,2184.000000,2184.000000,2184.000000,2184.000000,2184.000000,2184.000000,2184.000000,2184.000000
mean,0.952019,0.924382,0.907506,0.954219,1586.923077,39.050366,32.269689,1404.365385,1174.322802,47.258700,321.321429,44.020147,0.004818,1.144215,2.174297,0.465201
std,0.088311,0.144415,0.245661,0.072613,1632.010886,164.773697,142.715774,1524.773736,1423.161189,164.500027,841.578851,96.997365,0.006490,2.355281,3.233916,0.989490
min,0.319000,0.000000,0.000000,0.553000,15.000000,0.000000,0.000000,-500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.948000,0.907000,0.986000,0.925000,55.000000,0.000000,0.000000,55.000000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.988000,0.989000,1.000000,0.984000,999.000000,0.000000,0.000000,789.000000,452.500000,0.000000,0.000000,2.000000,0.003000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,2777.000000,2.000000,0.000000,2500.000000,2207.750000,10.000000,49.000000,20.000000,0.007000,1.102000,3.270000,0.000000
max,1.000000,1.000000,1.000000,1.000000,5500.000000,1492.000000,1440.000000,5482.000000,5400.000000,1507.000000,4187.000000,496.000000,0.067000,8.929000,8.877000,3.000000

###Agora analisando com o tempo de 0.1

In [23]:
metrics = pd.read_csv(r"C:\Users\natha\Documents\AgentesML\jade_experiments\env\metrics\0.1\metrics_sample_75.csv")
metrics["datetime"] = metrics["datetime"].str.slice(0, 22).str.slice_replace(11, 14, '')
metrics["datetime"] = pd.to_datetime(metrics['datetime'], format="%Y-%m-%dT%H:%M:%S") # 2024-04-21T17:17:44:10.202
metrics["name_skill"] = metrics.apply(lambda row: f'{row["name"]} ({row["skill"]})', axis=1)
count_changes(metrics)
metrics.describe()

,f1,accuracy,precision,recall,total,asks,timeouts,points,tp,fp,tn,fn,api_time,ask_time,voting_time,changes
count,1031.000000,1285.000000,1108.000000,1031.000000,1285.000000,1285.000000,1285.000000,1285.000000,1285.000000,1285.000000,1285.000000,1285.000000,1285.000000,1285.000000,1285.000000,1285.000000
mean,0.897364,0.868334,0.850799,0.945125,1491.368093,11.964981,11.312062,1274.004669,1163.014008,60.579767,219.672374,48.101946,0.003448,0.014795,0.016711,0.181323
std,0.239773,0.261233,0.338262,0.095163,1735.779155,74.201027,71.266665,1561.113168,1449.064514,223.121447,532.523153,111.882858,0.005192,0.026465,0.027688,0.584557
min,0.009000,0.000000,0.000000,0.500000,1.000000,0.000000,0.000000,-962.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.939000,0.888000,0.992000,0.912000,53.000000,0.000000,0.000000,48.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.996000,0.994000,1.000000,0.999000,675.000000,0.000000,0.000000,552.000000,54.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,2699.000000,0.000000,0.000000,2300.000000,2598.000000,10.000000,52.000000,2.000000,0.006000,0.032000,0.048000,0.000000
max,1.000000,1.000000,1.000000,1.000000,5800.000000,867.000000,865.000000,5748.000000,5388.000000,1901.000000,2695.000000,412.000000,0.052000,0.333000,0.109000,3.000000

In [24]:
metrics = pd.read_csv(r"C:\Users\natha\Documents\AgentesML\jade_experiments\env\metrics\0.1\metrics_sample_80.csv")
metrics["datetime"] = metrics["datetime"].str.slice(0, 22).str.slice_replace(11, 14, '')
metrics["datetime"] = pd.to_datetime(metrics['datetime'], format="%Y-%m-%dT%H:%M:%S") # 2024-04-21T17:17:44:10.202
metrics["name_skill"] = metrics.apply(lambda row: f'{row["name"]} ({row["skill"]})', axis=1)
count_changes(metrics)
metrics.describe()

,f1,accuracy,precision,recall,total,asks,timeouts,points,tp,fp,tn,fn,api_time,ask_time,voting_time,changes
count,1855.000000,2246.000000,1960.000000,1855.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000,2246.000000
mean,0.943108,0.921630,0.905868,0.943961,1590.739092,23.000445,18.860641,1425.211932,1176.967053,36.400267,331.008459,46.363313,0.006146,0.843970,1.015960,0.242208
std,0.108568,0.149617,0.248586,0.094103,1696.711395,100.223174,86.292168,1591.950027,1486.229536,143.585479,867.269594,97.736771,0.007647,2.231493,2.632001,0.592544
min,0.262000,0.000000,0.000000,0.466000,1.000000,0.000000,0.000000,-500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.941000,0.899250,0.978000,0.917000,54.000000,0.000000,0.000000,53.000000,47.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.981000,0.983000,1.000000,0.979000,900.000000,0.000000,0.000000,699.000000,347.000000,0.000000,0.000000,1.000000,0.005000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,2899.000000,0.000000,0.000000,2600.000000,2323.500000,8.000000,48.000000,22.000000,0.009000,0.333000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,5700.000000,953.000000,948.000000,5700.000000,5700.000000,1507.000000,4187.000000,410.000000,0.090000,8.791000,8.769000,3.000000

In [25]:
metrics = pd.read_csv(r"C:\Users\natha\Documents\AgentesML\jade_experiments\env\metrics\0.1\metrics_sample_85.csv")
metrics["datetime"] = metrics["datetime"].str.slice(0, 22).str.slice_replace(11, 14, '')
metrics["datetime"] = pd.to_datetime(metrics['datetime'], format="%Y-%m-%dT%H:%M:%S") # 2024-04-21T17:17:44:10.202
metrics["name_skill"] = metrics.apply(lambda row: f'{row["name"]} ({row["skill"]})', axis=1)
count_changes(metrics)
metrics.describe()

,f1,accuracy,precision,recall,total,asks,timeouts,points,tp,fp,tn,fn,api_time,ask_time,voting_time,changes
count,1928.000000,2320.000000,2034.000000,1928.000000,2320.000000,2320.000000,2320.000000,2320.000000,2320.000000,2320.000000,2320.000000,2320.000000,2320.000000,2320.000000,2320.000000,2320.000000
mean,0.949566,0.925406,0.906839,0.954652,1658.205172,34.916379,28.396121,1472.591379,1228.773276,47.883621,336.625000,44.923276,0.005187,1.017497,1.600462,0.481034
std,0.097584,0.143347,0.244690,0.073540,1734.929078,148.023660,123.805912,1630.329988,1515.970914,162.940160,864.941714,98.650371,0.007768,2.299495,2.905873,1.003479
min,0.133000,0.000000,0.000000,0.400000,7.000000,0.000000,0.000000,-500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.949750,0.909000,0.986000,0.932000,55.000000,0.000000,0.000000,55.000000,52.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.987000,0.989000,1.000000,0.985000,1000.000000,0.000000,0.000000,795.500000,464.500000,0.000000,0.000000,1.000000,0.003000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,2900.000000,0.000000,0.000000,2683.250000,2398.000000,9.000000,50.000000,20.250000,0.008000,0.502000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,5900.000000,1353.000000,1256.000000,5882.000000,5800.000000,1507.000000,4187.000000,484.000000,0.159000,8.764000,8.289000,3.000000

In [26]:
metrics = pd.read_csv(r"C:\Users\natha\Documents\AgentesML\jade_experiments\env\metrics\0.1\metrics_sample_90.csv")
metrics["datetime"] = metrics["datetime"].str.slice(0, 22).str.slice_replace(11, 14, '')
metrics["datetime"] = pd.to_datetime(metrics['datetime'], format="%Y-%m-%dT%H:%M:%S") # 2024-04-21T17:17:44:10.202
metrics["name_skill"] = metrics.apply(lambda row: f'{row["name"]} ({row["skill"]})', axis=1)
count_changes(metrics)
metrics.describe()

,f1,accuracy,precision,recall,total,asks,timeouts,points,tp,fp,tn,fn,api_time,ask_time,voting_time,changes
count,1890.000000,2277.000000,1996.000000,1890.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000
mean,0.949936,0.924604,0.906567,0.953779,1649.779095,40.163812,31.833114,1459.630654,1215.666667,49.664471,339.038208,45.409750,0.004466,1.282118,1.970197,0.481335
std,0.093500,0.143144,0.244598,0.072819,1697.619215,166.202057,134.519412,1591.952664,1479.675975,166.703822,871.833238,99.387705,0.005497,2.480063,2.933779,0.997461
min,0.318000,0.000000,0.000000,0.553000,14.000000,0.000000,0.000000,-500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.947250,0.907000,0.985000,0.925000,56.000000,0.000000,0.000000,55.000000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.988000,0.987000,1.000000,0.984000,1000.000000,0.000000,0.000000,800.000000,494.000000,0.000000,0.000000,2.000000,0.003000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,2899.000000,2.000000,0.000000,2600.000000,2300.000000,10.000000,51.000000,23.000000,0.007000,1.294000,3.314000,0.000000
max,1.000000,1.000000,1.000000,1.000000,5700.000000,1492.000000,1268.000000,5700.000000,5700.000000,1507.000000,4187.000000,569.000000,0.030000,8.928000,8.506000,3.000000

###Testando COM 0.5

In [5]:
metrics = pd.read_csv(r"C:\Users\natha\Documents\AgentesML\jade_experiments\env\metrics\0.5\metrics_sample_80.csv")
metrics["datetime"] = metrics["datetime"].str.slice(0, 22).str.slice_replace(11, 14, '')
metrics["datetime"] = pd.to_datetime(metrics['datetime'], format="%Y-%m-%dT%H:%M:%S") # 2024-04-21T17:17:44:10.202
metrics["name_skill"] = metrics.apply(lambda row: f'{row["name"]} ({row["skill"]})', axis=1)
count_changes(metrics)
metrics.describe()

,f1,accuracy,precision,recall,total,asks,timeouts,points,tp,fp,tn,fn,api_time,ask_time,voting_time,changes
count,1833.000000,2202.000000,1925.000000,1833.000000,2202.000000,2202.000000,2202.000000,2202.000000,2202.000000,2202.000000,2202.000000,2202.000000,2202.000000,2202.000000,2202.000000,2202.00000
mean,0.940279,0.916246,0.908646,0.943175,1613.573569,29.401907,23.875114,1418.727066,1192.115350,50.060400,324.034968,47.362852,0.004813,1.029754,1.088371,0.18574
std,0.115693,0.161213,0.241691,0.098096,1663.934288,124.109322,104.943564,1541.987719,1454.017602,192.711097,857.301284,99.745813,0.006576,2.464888,2.568970,0.44865
min,0.176000,0.000000,0.000000,0.435000,1.000000,0.000000,0.000000,-500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,0.939000,0.892000,0.982000,0.913000,55.000000,0.000000,0.000000,55.000000,52.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,0.988000,0.986500,1.000000,0.984000,999.000000,0.000000,0.000000,781.500000,499.500000,0.000000,0.000000,1.000000,0.003000,0.000000,0.000000,0.00000
75%,1.000000,1.000000,1.000000,1.000000,2900.000000,0.000000,0.000000,2592.000000,2395.000000,9.000000,49.000000,18.000000,0.007000,0.252000,0.000000,0.00000
max,1.000000,1.000000,1.000000,1.000000,5500.000000,1372.000000,1313.000000,5500.000000,5500.000000,1802.000000,4187.000000,408.000000,0.080000,8.969000,8.347000,2.00000